<!DOCTYPE html>
<html>
    <head>
        <title>Chatter Filter</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
        <link rel = "stylesheet" href = "/main.css" >
    </head>
    <body>
        <h1>Let's get something planned</h1>
        <div id="app">
            <div id="chat-window">
                <div id="displays">
                    
                </div>
            </div>
            <input id="handle" type="text" placeholder="Your User">
            <input id="message" type="text" placeholder="Enter your message here">
            <button id="send">Send message</button>

        </div>
        <script src="/connect.js"></script>
    </body>
</html>