<!DOCTYPE html>
<html>
    <head>
        <title>Chatter Filter</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.slim.js"></script>
        <link rel = "stylesheet" href = "/main.css" >
    </head>
    <body>
        <h1>Let's get something planned</h1>
        <div class="floatArea">
          <div class="floatBox" id="Location"> Place
            <li>Floated messages go here</li>
            <li>Floated messages go here</li>
            <li>Floated messages go here</li>
          </div>
          <div class="floatBox" id="Name"> Name
            <li>Floated messages go here</li>
            <li>Floated messages go here</li>
            <li>Floated messages go here</li>
          </div>
          
        </div>
        <div id="app">
            <h2>Group Chat</h2>
            <div id="chat-window">
                <div id="displays"></div>
                <div id="state"></div>
            </div>
            <input id="user" type="text" placeholder="Your User" />
            <input id="messageInput" type="text" placeholder="Enter your message here" />
            <button id="send">Send message</button>
        </div>
        <!--<script src="/floater.js"></script>-->
        <script src="/connect.js"></script>
    </body>
</html>